<div class="mycalc">
  <div>
    <button
      type="button"
      class="more-styles"
      [hidden]="!inboundClick"
      (click)="!(inboundClick = !inboundClick)"
    >
      Na rok
    </button>
    <button
      type="button"
      class="more-styles"
      [hidden]="inboundClick"
      (click)="!(inboundClick = !inboundClick)"
    >
      Na dni
    </button>
    <h1 [hidden]="!inboundClick">Sumar na dni</h1>

    <h1 [hidden]="inboundClick">Sumar na rok</h1>
  </div>
  <h1>
    Zakladne baliky <input [(ngModel)]="toShow" name="days" type="text" />
  </h1>
  <h1>Rozsirene <input [(ngModel)]="toShowSumar" name="days" type="text" /></h1>
  <h1>
    Dokopy <input [(ngModel)]="toShowSumarTotal" name="days" type="text" />
  </h1>

  <div class="packages">
    <p [hidden]="!inboundClick">
      <button (click)="writeToInput('1.2')">Zakladny balik</button>
      <button (click)="writeToInput('1.8')">rozsireny balik</button>
      <button (click)="writeToInput('2.4')">extra balik</button>
    </p>
    <p [hidden]="inboundClick">
      <button (click)="writeToInput('39')">Zakladny Balik</button>
      <button (click)="writeToInput('49')">Rozsireny Balik</button>
      <button (click)="writeToInput('59')">Zakladny Balik</button>
    </p>

    <div class="People">
      <button (click)="writeToInput('*')">pridat cloveka</button>
      <button (click)="writeToInput('2')">Dva ludia</button>
      <button (click)="writeToInput('3')">Traja ludia</button>
      
    </div>

    <div class="days">
      <p [hidden]="!inboundClick">
        <button (click)="writeToInput('*')">Pocet dni</button>
        <button (click)="writeToInput('1')">1</button>
        <button (click)="writeToInput('2')">2</button>
        <button (click)="writeToInput('3')">3</button>
        <button (click)="writeToInput('4')">4</button>
        <button (click)="writeToInput('5')">5</button>
        <button (click)="writeToInput('6')">6</button>
        <button (click)="writeToInput('7')">7</button>
        <button (click)="writeToInput('8')">8</button>
        <button (click)="writeToInput('9')">9</button>
        <button (click)="writeToInput('0')">0</button>
      </p>
      <button [hidden]="!inboundClick" id="back" (click)="back()">
        zmazat balik ludi a dni
      </button>
      <button id="sumar" (click)="show()">Potvrdit balik</button>
    </div>

    
    <div class="special">
      <p [hidden]="!inboundClick">
        <button (click)="writeToInputSpec('*0.5')">storno cesty</button>
        <button (click)="writeToInputSpec('*0.333')">sportove aktivity</button>
        <button (click)="writeToInputSpec('*0.833')">
          storno cesty + sportove aktivity
        </button>
      </p>
    </div>
  </div>
  <div class="special">
    <p [hidden]="inboundClick">
      <button (click)="writeToInputSpec('*0.2')">storno cesty</button>
      <button (click)="writeToInputSpec('*0.1')">sportove aktivity</button>
      <button (click)="writeToInputSpec('*0.3')">
        storno cesty + sportove aktivity
      </button>
    </p>
    <button id="Showsumar" (click)="showSumar()">sumar + special</button>
    <button id="back1" (click)="back1()">zmazat special</button>
  </div>
  <button (click)="inputCelkomshow('+')">Dokopy</button>
  <div class="btn-clear-sumar">
    <button id="back2" (click)="back2()">zmazat sumar</button>
    <button id="clear" (click)="clear()">zmazat vsetko</button>
  </div>
</div>
