
<mat-grid-list cols="2" rowHeight="1:1" >
  <mat-grid-tile>
    <div class="mycalc">
        <!-- change buttons between years and days -->
        <div [hidden]="!inboundClick" class="btnyear">
          <mat-button-toggle
            type="button"
            class="more-styles"
            (click)="!(inboundClick = !inboundClick)"
          >
            Na rok
          </mat-button-toggle>
        </div>
        <div [hidden]="inboundClick" class="btnyear">
          <mat-button-toggle
            type="button"
            class="more-styles"
            (click)="!(inboundClick = !inboundClick)"
          >
            Na dni
          </mat-button-toggle>
        </div>
        <p [hidden]="!inboundClick">
          <mat-card style="background-color: grey; color: black"
            >Sumar na dni</mat-card
          >
        </p>
        <p [hidden]="inboundClick">
          <mat-card style="background-color: grey; color: black"
            >Sumar na rok</mat-card
          >
        </p>
      <!-- Days packages -->
      <div class="packages">
        <section [hidden]="!inboundClick">
          <mat-card style="background-color: grey; color: black"
            >Balíky</mat-card
          >
          <p [hidden]="!NonClickButton">
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('1.2')"
              >Zakladný balík = 1.2€ /den</mat-button-toggle
            >

            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('1.8')"
              >rozširený balík = 1.8€/den</mat-button-toggle
            >
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('2.4')"
              >extra balík = 2.4€/den</mat-button-toggle
            >
          </p>
          <p [hidden]="NonClickButton">
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="back3()"
              >Zmazať balík</mat-button-toggle
            >
          </p>
        </section>
        <!-- year packages -->
        <section [hidden]="inboundClick">
          <mat-card style="background-color: grey; color: black"
            >Balíky</mat-card
          >
          <p [hidden]="!NonClickButton">
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('39')"
              >Základný balík = 39€</mat-button-toggle
            >
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('49')"
              >Rozšírený balík = 49€</mat-button-toggle
            >
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="writeToInput('59')"
              >Základný balík = 59€</mat-button-toggle
            >
          </p>
          <p [hidden]="NonClickButton">
            <mat-button-toggle
              type="button"
              class="more-styles"
              (click)="!(NonClickButton = !NonClickButton)"
              (click)="back3()"
              >Zmazať balík</mat-button-toggle
            >
          </p>
        </section>
        <!-- How much people -->
        <div class="People">
          <mat-card style="background-color: grey; color: black"
            >Počet ludí</mat-card
          >
          <mat-button-toggle (click)="writeToInput('*1')"
            >Jeden človek</mat-button-toggle
          >
          <mat-button-toggle (click)="writeToInput('*2')"
            >Dva ľudia</mat-button-toggle
          >
          <mat-button-toggle (click)="writeToInput('*3')"
            >Traja ľudia</mat-button-toggle
          >
        </div>
        <!-- how much days -->
        <div class="days">
          <section [hidden]="!inboundClick">
            <mat-card style="background-color: grey; color: black"
              >Dni</mat-card
            >
            <mat-button-toggle-group>
              <div [hidden]="!NonCLickButton2">
                <mat-button-toggle-group>
                  <mat-button-toggle
                    type="button"
                    class="more-styles"
                    (click)="!(NonCLickButton2 = !NonCLickButton2)"
                    (click)="writeToInput('*')"
                    >Počet dni</mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
              <div [hidden]="NonCLickButton2">
                <mat-button-toggle-group>
                  <mat-button-toggle
                    type="button"
                    class="more-styles"
                    (click)="!(NonCLickButton2 = !NonCLickButton2)"
                    >Počet dni</mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
              <div [hidden]="NonCLickButton2">
                <mat-button-toggle-group>
                  <mat-button-toggle (click)="writeToInput('1')"
                    >1</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('2')"
                    >2</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('3')"
                    >3</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('4')"
                    >4</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('5')"
                    >5</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('6')"
                    >6</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('7')"
                    >7</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('8')"
                    >8</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('9')"
                    >9</mat-button-toggle
                  >
                  <mat-button-toggle (click)="writeToInput('0')"
                    >0</mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
            </mat-button-toggle-group>
          </section>
          <mat-button-toggle
            id="sumar"
            type="button"
            class="more-styles"
            (click)="show()"
            >Potvrdiť balík</mat-button-toggle
          >
          <mat-button-toggle
            [hidden]="!inboundClick"
            id="back"
            (click)="back()"
          >
            ZMAZAŤ
          </mat-button-toggle>
          <mat-button-toggle
            [hidden]="!inboundClick"
            id="back"
            type="button"
            class="more-styles"
            (click)="!(NonCLickButton2 = !NonCLickButton2)"
          >
            Opraviť dni
          </mat-button-toggle>
        </div>
        <!-- Extra for days -->
        <div class="special">
          <p [hidden]="!inboundClick">
            <mat-card style="background-color: grey; color: black"
              >Doplnky</mat-card
            >
            <mat-button-toggle-group>
              <mat-button-toggle (click)="writeToInputSpec('*0.5')"
                >Storno cesty +50%</mat-button-toggle
              >
              <mat-button-toggle (click)="writeToInputSpec('*0.3')"
                >Športové aktivity +30%</mat-button-toggle
              >
              <mat-button-toggle (click)="writeToInputSpec('*0.8')">
                Storno cesty + športové aktivity +80%
              </mat-button-toggle>
            </mat-button-toggle-group>
          </p>
        </div>
      </div>
       <!-- Extra for years -->
      <div class="special">
        <p [hidden]="inboundClick">
          <mat-card style="background-color: grey; color: black"
            >Doplnky</mat-card
          >
          <mat-button-toggle-group>
            <mat-button-toggle (click)="writeToInputSpec('*0.2')"
              >storno cesty +20%</mat-button-toggle
            >
            <mat-button-toggle (click)="writeToInputSpec('*0.1')"
              >Športové aktivity 10%</mat-button-toggle
            >
            <mat-button-toggle (click)="writeToInputSpec('*0.3')">
              Storno cesty + športové aktivity +30%
            </mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <mat-button-toggle-group multiple>
          <mat-button-toggle
            (click)="!(ClickHideButton1 = !ClickHideButton1)"
            id="Showsumar"
            (click)="showSumar()"
            >Potvrdiť doplnok</mat-button-toggle
          >
          <mat-button-toggle
            id="back1"
            (click)="back1()"
            (click)="!(ClickHideButton1 = !ClickHideButton1)"
            >Zmazať Špecial</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <mat-button-toggle
        (click)="!(ClickHideButton2 = !ClickHideButton2)"
        (click)="inputCelkomshow()"
        >Dokopy</mat-button-toggle
      >
      <div class="btn-clear-sumar">
        <mat-button-toggle-group multiple>
          <mat-button-toggle
            id="back2"
            (click)="back1()"
            (click)="back2()"
            (click)="!(ClickHideButton1 = !ClickHideButton1)"
            (click)="!(ClickHideButton2 = !ClickHideButton2)"
            >Zmazať sumár</mat-button-toggle
          >
          <mat-button-toggle id="clear" (click)="refresh()"
            >Zmazať všetko</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div></mat-grid-tile
  >
  <!-- Showing value -->
  <mat-grid-tile>
    <div class="ShowSumar">
      <mat-card style="background-color: grey; color: black"
        ><h1>
          Základné baliky
          <div>
            <input [(ngModel)]="toShow" name="days" type="text" />
          </div></h1
      ></mat-card>
      <mat-card style="background-color: grey; color: black">
        <h1>
          Doplnky
          <div [hidden]="ClickHideButton1">
            <input [(ngModel)]="toShowSumar" name="days" type="text" />
          </div>
        </h1>
      </mat-card>
      <mat-card style="background-color: grey; color: black"
        ><h1>
          Dokopy
          <div [hidden]="ClickHideButton2">
            <input [(ngModel)]="toShowSumarTotal" name="days" type="text" />
          </div></h1
      ></mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
