/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mycalc{
  text-align: center;
  margin: 0em auto 0em;
  max-width:  48em;
  display: grid;
}



